body {
    font-size: 18px;
    font-family: consolas;
}

.hide {
    display: none;
}

.game-area {
    position: relative;
    background-color: lightskyblue;
    width: 100%;
    height: 97vh;
    margin: 0;
}

.game-start {
    position: absolute;
    display: inline-flex;
    left: 30%;
    top: 220px;
}

.game-start-wizard {
    position: relative;
    background-image: url('./images/wizard.png');
    background-size: cover;
    width: 82px;
    height: 100px;
    z-index: 100;
    cursor: pointer;
}

.game-start-kolyo {
    position: relative;
    background-image: url('./images/kolyo.png');
    background-size: cover;
    width: 82px;
    height: 105px;
    z-index: 100;
    left: 7%;
    cursor: pointer;
}

.game-start-viki {
    position: relative;
    background-image: url('./images/viki.png');
    background-size: cover;
    width: 82px;
    height: 110px;
    z-index: 100;
    left: 14%;
    cursor: pointer;
}

.game-start-tina {
    position: relative;
    background-image: url('./images/Untitled.png');
    background-size: cover;
    width: 82px;
    height: 105px;
    z-index: 100;
    left: 21%;
    cursor: pointer;
}

.game-start-pepi {
    position: relative;
    background-image: url('./images/pepi.png');
    background-size: cover;
    width: 100px;
    height: 100px;
    z-index: 100;
    left: 28%;
    cursor: pointer;
}

.choose-hero {
    position: absolute;
    width: 30%;
    left: 36%;
    top: 10%;
    z-index: 1;
    font-size: 40px;
}

.game-score {
    position: absolute;
    width: 5%;
    left: 91%;
    top: 2%;
    border-style: solid;
    border-color: black;
    background-color: pink;
    color: black;
    text-align: center;
    z-index: 1;
    padding: 20px;
    border-radius: 100px;
    font-size: 20px;
    cursor: none;
}

.points {
    color: blue;
    font-size: 30px;
}

.game-over {
    cursor: none;
    position: absolute;
    width: 10%;
    background-color: red;
    color: white;
    z-index: 1;
    top: 100px;
    left: 40%;
    text-align: center;
    padding: 30px;
    border-radius: 100px;
    font-size: 20px;
    border-style: solid;
    border-color: black;
}

.play-again {
    cursor: pointer;
    position: absolute;
    width: 10%;
    background-color: orangered;
    color: white;
    z-index: 1;
    top: 240px;
    left: 40%;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
    border-style: solid;
    border-color: black;
}

.wizard {
    z-index: 100;
    position: absolute;
    width: 82px;
    height: 100px;
    background-image: url(./images/wizard.png);
    background-size: cover;
    rotate: inherit 50;
    cursor: none;
}

.kolyo {
    z-index: 100;
    position: absolute;
    width: 82px;
    height: 100px;
    background-image: url(./images/kolyo.png);
    background-size: cover;
    rotate: inherit 50;
    cursor: none;
}

.viki {
    z-index: 100;
    position: absolute;
    width: 82px;
    height: 100px;
    background-image: url(./images/viki.png);
    background-size: cover;
    rotate: inherit 50;
    cursor: none;
}

.tina {
    z-index: 100;
    position: absolute;
    width: 82px;
    height: 100px;
    background-image: url(./images/tina.png);
    background-size: cover;
    rotate: inherit 50;
    cursor: none;
}

.pepi {
    z-index: 100;
    position: absolute;
    width: 82px;
    height: 100px;
    background-image: url(./images/pepi.png);
    background-size: cover;
    rotate: inherit 50;
    cursor: none;
}

.wizard-fire {
    background-image: url(./images/wizard-fire.png);
    background-size: cover;
}

.fireball {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(./images/fire-ball.png);
    background-size: cover;
}

.cloud {
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url(./images/cloud.png);
    background-size: cover;
    cursor: none;
}

.cake {
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url(./images/cake.png);
    background-size: cover;
    cursor: none;
}

.bug {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(./images/bug.png);
    background-size: cover;
    cursor: none;
}